<html>
    <head>
        <title>home</title>
    </head>
<body>
    data saved successfully
    <form action="/login" method="post">
         <input type="submit" value="Back to login">
    </form>
</body>
</html>