<html>
    <body>
        <h1>Login page</h1>
        <form action="/loginidentify" method="post">
        <label name="email" >email</label><br>
        <input type="email" id ="email" name="email"><br>
        <label name="pasword">password</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit">
        </form>
    </body>
</html>